.field
  = f.label "Question Description"
  = f.text_area :qdesc
  = f.error_message_on :text, :prepend_text => 'Question '
.field
  = f.label "Answer Description"
  = f.text_area :adesc
  = f.error_message_on :text, :prepend_text => 'Question '
= markdown