#new_question_selector.hidden
  select a new question baby
  %ul
    %li= link_to_remote 'Pick one (radio buttons)', :url => new_survey_section_question_path(@survey,@section, :variation => :pickoneradio), :method => :get
    %li= link_to_remote 'Pick one (drop down)', :url => new_survey_section_question_path(@survey,@section, :variation => :pickonedropdown), :method => :get
    %li= link_to_remote 'Pick any', :url => new_survey_section_question_path(@survey,@section, :variation => :pickany), :method => :get
    %li= link_to_remote 'Simple one-line string', :url => new_survey_section_question_path(@survey,@section, :variation => :string), :method => :get
    %li= link_to_remote 'Multiple one-line strings', :url => new_survey_section_question_path(@survey,@section, :variation => :stringmultiple), :method => :get
    %li= link_to_remote 'Free form text area', :url => new_survey_section_question_path(@survey,@section, :variation => :textarea), :method => :get
    %li= link_to_remote 'Label', :url => new_survey_section_question_path(@survey,@section, :variation => :label), :method => :get
    %li= link_to_remote 'Number: Integer', :url => new_survey_section_question_path(@survey,@section, :variation => :number), :method => :get
    %li= link_to_remote 'Number: Decimal', :url => new_survey_section_question_path(@survey,@section, :variation => :float), :method => :get
    %li= link_to_remote 'Date & Time', :url => new_survey_section_question_path(@survey,@section, :variation => :datetime), :method => :get
    %li= link_to_remote 'Date', :url => new_survey_section_question_path(@survey,@section, :variation => :date), :method => :get
    %li= link_to_remote 'Time', :url => new_survey_section_question_path(@survey,@section, :variation => :time), :method => :get
    %li= link_to_remote 'Slider', :url => new_survey_section_question_path(@survey,@section, :variation => :slider), :method => :get
    %li= link_to_remote 'Grid', :url => new_survey_section_question_path(@survey,@section, :variation => :grid), :method => :get
    %li= link_to_remote 'Rank', :url => new_survey_section_question_path(@survey,@section, :variation => :rank), :method => :get
    %li= link_to_remote 'Repeater', :url => new_survey_section_question_path(@survey,@section, :variation => :repeater), :method => :get