- @page_title = "Question ##{@question.id}"

= survey_link(true)

#mid_nav
  = link_to 'Back to section', survey_section_path(@survey, @section), :class => 'edit'
  |
  = fancybox_link 'Add another question', 'new_question_selector', 'Select question type', 'edit'
%br
%h2= @page_title

= render :partial => 'edit', :locals => {:survey => @survey, :section => @section, :question => @question} 
= render :partial => 'questions/new_question_selector', :locals => {:section => @section} 
  
- content_for :right do
  %br
  %br
  %br
  %br
  %h4 Preview Question
  - if @question.part_of_group?
    #question_preview= render :partial => 'partials/question_group', :locals => {:question_group => @question.question_group, :group_questions => @question.question_group.questions, :response_set => @response_set}
  - else
    #question_preview= render :partial => 'partials/question', :locals => {:question => @question, :response_set => @response_set}
  