- @page_title = "Edit Question ##{@question.id}"

= survey_link(true)

%h2= @page_title

.form
  - form_for @question, :url => survey_section_question_path(@survey, @section, @question) do |f|
    = render :partial => 'form', :locals => {:f => f}
    .submit
      = submit_tag 'Update Question', :disable_with => 'Updating Question...'
      %span or
      = link_to 'Cancel', survey_section_question_path(@survey, @section, @question), :class => 'cancel'