- @page_title = 'New Question'

= survey_link(true)

%h2= @page_title

.form
  - form_for @question, :url => survey_section_questions_path(@survey,@section) do |f|
    = render :partial => 'form', :locals => {:f => f}
    .submit
      = submit_tag 'Create Question', :disable_with => 'Creating Question...'
      %span or
      = link_to 'Cancel', survey_section_path(@survey,@section), :class => 'cancel'