- @page_title = 'Suggest Question'

= survey_link

%h2= @page_title

.form
  - form_for @question, :url => survey_questions_path(@survey) do |f|
    = f.hidden_field :suggester_id
    = render :partial => 'form', :locals => {:f => f}
    .submit
      = submit_tag 'Create Question', :disable_with => 'Creating Question...'
      %span or
      = link_to 'Cancel', survey_path(@survey), :class => 'cancel'