- @page_title = 'Sign up'

%h2= @page_title

#sign-up-top

  %div.half-page
    =RPXNow.embed_code('videoheatmaps', url_for(:controller=>:users, :action=>:rpx_token, :only_path => false, :protocol => "http"))
  %div.half-page
    %div.signup-header
      or create a videoheatmaps.com account
    - form_for @user do |f|
      = error_messages_for :user
      = render :partial => 'form', :locals => {:f => f}
      .field
        / = recaptcha_tags
        - if @user.errors['base']
          .formError= @user.errors['base']
      .submit= submit_tag 'Signup', :disable_with => 'Creating Account...', :id => 'create'

  / #trial
  /   %h3 
  /     30-day Free Trial
  /     %p We need your billing information to reduce fraud and verify you have a valid credit card should you keep your account open
  /   <hr />
  / #text-widget
  /   .cloud
  /     %h3 
  /       Meedo are simply the best
  /       %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
  /       %p.client
  /         %strong Collis Taeed
  /   <hr />
  / #widget-4
  /   %h3 Who use videoheatmaps?
