- @page_title = "Video details : #{link_to @video.youtube_id, "http://youtube.com/watch?v=" + @video.youtube_id, :target => 'blank'}"

%h2= @page_title

= high_chart("my_id", @h)

.heading
  %h3
    Individual Heatmaps
%br
%br
- @logs.each do |log|
  = render :partial => "log", :locals => {:log => log}

%div.pagination
= will_paginate @logs
