- @page_title = "Video details #{@video.youtube_id}"

%h2= "Video details : #{link_to @video.youtube_id, "http://youtube.com/watch?v=" + @video.youtube_id, :target => 'blank'}"
%div.twothirds
  = high_chart("my_id", @video.engagement_graph)
%div.third
  = embed(@video.youtube_id,300,200)

.heading
  %h3
    Individual Heatmaps
    
%br
%br
%div.clear
%div.ipaddress
  %strong
    Time
%div.connection
  %strong
    IP Address
%div.heatmap
  %img{:src => "/images/key.jpg", :alt => "key"}
%div.heatmap-percentage
%div.clear
  
- @logs.each do |log|
  = render :partial => "log", :locals => {:log => log}

%div.pagination
= will_paginate @logs
