- @page_title = "Video details : #{@video.youtube_id}"

%h2= @page_title

= high_chart("my_id", @h)

.heading
  %h3
    Individual Heatmaps
%br
%br
- @logs.each do |log|
  = render :partial => "log", :locals => {:log => log}

%div.pagination
= will_paginate @logs
