.field
  = f.label :title
  = f.text_field :title
  = f.error_message_on :title, :prepend_text => 'Section title '
  .hint This is for your internal use only, and will not be presented to participants
.field
  = f.label :description
  = f.text_area :description
  = f.error_message_on :description, :prepend_text => 'Description '
  .hint The section description will appear to survey participants on the top of each survey
= markdown
