- @page_title = 'New Section'

= survey_link(true)

%h2= @page_title

.form
  - form_for @survey_section, :url => survey_survey_sections_path(@survey) do |f|
    = render :partial => 'form', :locals => {:f => f}
    .submit
      = submit_tag 'Create Section', :disable_with => 'Creating Section...'
      %span or
      = link_to 'Cancel', survey_path(@survey), :class => 'cancel'