- @page_title = @survey.title


- if current_user
  #mid_nav
    - if owner?
      = link_to 'Edit Survey', edit_survey_path(@survey), :class => 'edit'

%h2= @page_title

- unless @survey.description.blank?
  %p= auto_link h(@survey.description)

.heading
  %h3= 'Sections (' + @survey.sections.count.to_s + ')'
  = link_to 'Add Section', new_survey_section_path(@survey), :class => 'add'

  = render :partial => 'survey_sections/list', :locals => {:sections => @survey.sections}

  / %h3= 'Questions (' + @survey.questions.count.to_s + ')'
  / = link_to 'Add Question', new_survey_question_path(@survey), :class => 'add'
/ 
/ = render :partial => 'questions/list', :locals => {:questions => @questions}
              
/ - content_for :right do
/   %h3 Participating Users
/   - if @participating_users.any?
/     .users_list
/       %table
/         - @participating_users.each do |user|
/           %tr
/             %td= user_link(user)
/   - else
/     = no_items('No users are participating in this survey.')
    