- @page_title = 'Dashboard'

%h2= @page_title

#mid_nav= link_to 'Create Survey', new_survey_path

%h3 Your Surveys

- if @your_surveys.any?
  .show_table
    %table
      %thead
        %tr
          %th Title
          %th.center % Correct 
          %th.center Questions
          %th.center Participants
      %tbody
        - @your_surveys.each do |survey|
          %tr{:class => cycle('even', ['even', 'odd'])}
            %td= link_to h(survey.title), survey_path(survey)
            / %td.center= survey.percentage_answered_correctly.to_s + '%'
            / %td.center= survey.questions_count || 0
            / %td.center= survey.participations_count || 0
- else
  = no_items do
    You have not created any surveys.
    %br
    = link_to 'Create one now', new_survey_path
  