- @page_title = 'Dashboard'

%h2= @page_title


- if @videos && @videos.length > 0
  #mid_nav= link_to "Add Video", new_video_path

  .heading
    %h3
      Videos your are tracking
  %div.clear
  %div
    %br
    - @videos.each do |video|
      = video.id
      &nbsp;&nbsp;
      = link_to video.youtube_id, video_path(video)
      &nbsp;
      = video.total_views.round
      views
      %br
- else
  %div.notification
    You are not yet tracking any videos. 
    %br
    = link_to "Get started by generating embed code for your video", new_video_path