- @page_title = 'Dashboard'

%h2= @page_title


- if @videos && @videos.length > 0
  #mid_nav= link_to "Add Video", new_video_path

  .heading
    %h3
      Videos your are tracking
  %div.clear
  %div
    %br
    - @videos.each do |video|
      %div.vid
        = embed(video.youtube_id,200,120)
        %br
        = link_to video.total_views.round.to_s + " views - See tracking details", video_path(video)
  %div.clear
  %div.notification
    = link_to "Add another video", new_video_path
- else
  %div.notification
    You are not yet tracking any videos. 
    %br
    = link_to "Get started by generating embed code for your video", new_video_path