- @page_title = "Category: #{@category.name}"

%h2= @page_title

%ul
  - @category.surveys.each do |survey|
    %li= link_to h(survey.title), survey_path(survey)
    
- content_for :right do
  %h3 Categories
  
  %ul
    - @categories.each do |category|
      %li
        = link_to category.name, category_path(category)
        = '(' + category.surveys_count.to_s + ')'