!!!
%html
  %head
    %title= page_title
    = stylesheet_link_tag 'headerandfooter'
    = stylesheet_link_tag 'static/screen'
    = stylesheet_link_tag 'static/style'
    = stylesheet_link_tag 'webapp'
    = stylesheet_link_tag '/javascripts/fancybox/jquery.fancybox-1.3.0.css'
    = google_jquery
    = javascript_include_merged :base
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
    = javascript_include_tag 'fancybox/jquery.fancybox-1.3.0.pack.js'
    
  %body{:id => params[:controller], :class => params[:action]}
    #inner-page
      .container
        = render :partial => 'home/header', :locals => {:page => 'about'}
        #main-inner.span-12.last.clear
        
          = content_tag(:div, flash[:success], :id => 'success', :class => 'flash') if flash[:success]
          = content_tag(:div, flash[:failure], :id => 'failure', :class => 'flash') if flash[:failure]
        
          #left.span-9= yield
        
          #right.span-3= yield(:right)
      
          %div{:style => 'clear: both'}
      
      #footer= render :partial => 'home/footer'
      / #footer
      /   &copy;
      /   = Date.today.year
      /   Surveydoo